/* @group Global
----------------------------------------------- */
@font-face {
  font-family: 'vtks_screamregular';
  src: url("../fonts/vtks_scream-webfont.eot");
  src: url("../fonts/vtks_scream-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/vtks_scream-webfont.woff") format("woff"), url("../fonts/vtks_scream-webfont.ttf") format("truetype"), url("../fonts/vtks_scream-webfont.svg#vtks_screamregular") format("svg");
  font-weight: normal;
  font-style: normal; }

body {
  color: white;
  font-family: "omnes-pro", sans-serif;
  padding: 0;
  margin: 0;
  font-size: 16px;
  line-height: 1.4em;
  -webkit-text-size-adjust: 100%;
  text-align: center;
  font-weight: normal;
  background: #4b3138;
  background-image: -moz-linear-gradient(top, #292f38 0%, #4b3138 100%);
  background-image: -webkit-linear-gradient(top, #292f38 0%, #4b3138 100%);
  background-image: -o-linear-gradient(top, #292f38 0%, #4b3138 100%);
  background-image: -ms-linear-gradient(top, #292f38 0%, #4b3138 100%);
  background-image: linear-gradient(to bottom, #292f38 0%, #4b3138 100%);
  text-shadow: 1px 0 1px rgba(0, 0, 0, 0.3); }

input, textarea {
  font-family: "omnes-pro", sans-serif;
  font-size: 16px;
  color: #94979b; }

h1, h2 {
  color: #fff;
  font-weight: 300; }
  h1 em, h2 em {
    color: #e23839;
    font-style: normal; }

h1 {
  font-size: 2.6em;
  line-height: 1.1em; }
  h1 em {
    font-family: "vtks_screamregular", "omnes-pro", sans-serif; }

h2 {
  font-size: 1.6em;
  line-height: 1.1em; }

p {
  margin: 1em 0;
  font-size: 20px;
  line-height: 1.7em; }

a, a:active, a:visited {
  color: #e23839;
  transition: color 0.2s;
  text-decoration: none; }

a:hover {
  color: #ca292a;
  transition: color 0.2s; }

strong {
  font-weight: 600; }

.left {
  float: left; }

.right {
  float: right; }

/* @group Header
----------------------------------------------- */
header nav {
  padding: 20px;
  width: 90%;
  margin: 0 auto;
  color: #656d79;
  text-align: left;
  font-weight: 500;
  font-size: 15px; }
header ul {
  list-style: none;
  margin: 0;
  padding: 0; }
header li {
  display: inline-block; }
  header li.right {
    margin-left: 10px; }
header img {
  margin: 0 5px -6px 0; }

/* @group Footer
----------------------------------------------- */
footer {
  height: 60px; }

/* @group Sections
----------------------------------------------- */
section {
  width: 90%;
  height: 100%;
  max-width: 650px;
  margin: 0 auto;
  display: none; }
  section.first {
    display: block; }

/* @group Occasion
----------------------------------------------- */
input[type=radio] {
  display: none; }

input[type=radio] + span {
  cursor: pointer;
  border: 2px solid transparent; }

input[type=radio]:checked + span {
  border: 2px solid #f00; }

/* @group Forms
----------------------------------------------- */
form {
  width: 90%;
  max-width: 600px;
  margin: 0 auto; }
  form p {
    position: relative; }
  form input[type="text"], form textarea {
    width: 100%;
    font-size: 17px;
    padding: 9px 15px;
    box-sizing: border-box;
    color: #94979b;
    border: none;
    border-radius: 4px;
    -khtml-border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    box-shadow: 0 3px 0 0 #8f9bae;
    font-weight: 500; }
    form input[type="text"].half, form textarea.half {
      width: 49%; }
      form input[type="text"].half:first-child, form textarea.half:first-child {
        margin-right: 1%; }
      form input[type="text"].half:last-child, form textarea.half:last-child {
        margin-left: 1%; }
  form .datepicker {
    background: white url("../img/calendar.png") no-repeat 95%; }
  form textarea {
    height: 150px; }
  form .btn-icon {
    position: absolute;
    right: -40px;
    top: 5px; }
  form .description {
    color: #656d79;
    font-size: 0.8em;
    margin-top: 0; }

/* @group Buttons
----------------------------------------------- */
.btn, a.btn {
  padding: 5px 35px;
  background: #e23839;
  color: #fff;
  border-radius: 4px;
  -khtml-border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  text-shadow: 1px 0 1px 0 rgba(0, 0, 0, 0.4);
  box-shadow: 0 3px 0 #9e2728; }
  .btn strong, a.btn strong {
    font-size: 27px;
    padding-right: 5px; }
  .btn:hover, a.btn:hover {
    background: #ca292a; }
  .btn.btn-icon, a.btn.btn-icon {
    font-size: 37px;
    line-height: 21px;
    padding: 8px 13px 16px;
    right: -60px;
    top: 2px;
    box-shadow: 0 3px 0 #39414d;
    font-weight: 500; }
  .btn.dark, .btn.btn-icon, a.btn.dark, a.btn.btn-icon {
    color: rgba(255, 255, 255, 0.4);
    background: rgba(0, 0, 0, 0.3);
    box-shadow: none; }
    .btn.dark:hover, .btn.btn-icon:hover, a.btn.dark:hover, a.btn.btn-icon:hover {
      background: rgba(0, 0, 0, 0.35); }
  .btn.disabled, a.btn.disabled {
    cursor: default;
    color: rgba(255, 255, 255, 0.4);
    background: rgba(0, 0, 0, 0.1);
    box-shadow: none; }

.caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px solid black;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  border-bottom: 0 dotted;
  content: ""; }

.dropdown {
  position: relative; }

.dropdown-toggle:focus {
  outline: 0; }

.dropdown-menu {
  color: #656d79;
  text-shadow: none;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  background-color: white;
  border: 1px solid #cccccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 3px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box; }
  .dropdown-menu.pull-right {
    right: 0;
    left: auto; }
  .dropdown-menu > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    color: #656d79;
    white-space: nowrap; }
  .dropdown-menu th {
    font-weight: 500; }

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
  text-decoration: none;
  color: white;
  background-color: #e23839; }

.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
  color: white;
  text-decoration: none;
  outline: 0;
  background-color: #e23839; }

.dropdown-menu > .disabled > a, .dropdown-menu > .disabled > a:hover, .dropdown-menu > .disabled > a:focus {
  color: #94979b; }

.dropdown-menu > .disabled > a:hover, .dropdown-menu > .disabled > a:focus {
  text-decoration: none;
  background-color: transparent;
  background-image: none;
  cursor: not-allowed; }

.open > .dropdown-menu {
  display: block; }
.open > a {
  outline: 0; }

.dropdown-header {
  display: block;
  padding: 3px 20px;
  color: #94979b; }

.dropdown-backdrop {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 900; }

.pull-right > .dropdown-menu {
  right: 0;
  left: auto; }

.dropup .caret,
.navbar-fixed-bottom .dropdown .caret {
  border-top: 0 dotted;
  border-bottom: 4px solid black;
  content: ""; }
.dropup .dropdown-menu,
.navbar-fixed-bottom .dropdown .dropdown-menu {
  top: auto;
  bottom: 100%;
  margin-bottom: 1px; }
